 <!-- <body> -->

    <div class="container">
        
        <img src="../../../assets/images-JZdyXu3Jd-transformed.jpeg">

         <!-- <img src="../../../assets/Screenshot 2024-03-19 171627.png" style="width: 60%;"> -->

       <div class="overlay-text" style="color: white;">
            LAXMI CHIT FUND BANK
            <!-- BANK OF MAHARASHTRA -->
        </div>
        <div class="overlay-text" style="margin-top: 90px; font-size: 30px; font-weight: bold; font-family: cursive; color: white;">
                💸 21 Din Main Paisa Double 💸
            <!-- 💸 No More Trust Issues 💸 -->
        </div>
    </div>
   
<!-- </body> --> 
    
    
    
    
    